@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body { font-family: 'Roboto', sans-serif; font-weight: 300; background: #fafafa; overflow: hidden;}
p { font-family: 'Roboto', sans-serif; font-size: 1.1em; font-weight: 300; line-height: 1.7em; color: #999; }
a, a:hover, a:focus { color: inherit; text-decoration: none; transition: all 0.3s; }

.navbar { padding: 15px 10px; background: #fff; border: none; border-radius: 0; margin-bottom: 40px; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); }
.navbar-btn { box-shadow: none; outline: none !important; border: none; }

/*HELPERS*/
.d-contents{
    display: contents;
}
.bolder{
    font-weight: 700;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.toolbar {
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: rgba(255, 255, 255, 0.92);
    width: calc(100% - 250px);
    height: 60px;
    z-index: 100;
    transition: all 0.3s;
    border-bottom: 1px solid #ececec;
    padding: 0;
    margin: 0;
}

/*Burguer Menu*/
.button_container {
    position: relative;
    top: 5%;
    left: 2%;
    height: 24px;
    width: 34px;
    cursor: pointer;
    z-index: 100;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
}
.button_container:hover { opacity: .7; }
.button_container.active .top { -webkit-transform: translateY(8px) translateX(0) rotate(45deg); transform: translateY(8px) translateX(0) rotate(45deg); }
.button_container.active .middle { opacity: 0; }
.button_container.active .bottom { -webkit-transform: translateY(-8px) translateX(0) rotate(-45deg); transform: translateY(-8px) translateX(0) rotate(-45deg); }
.button_container span { background: #999; border: none; height: 4px; width: 100%; position: absolute; top: 0; left: 0; -webkit-transition: all .35s ease; transition: all .35s ease; cursor: pointer; border-radius: 6px; }
.button_container span:nth-of-type(2) { top: 8px; }
.button_container span:nth-of-type(3) { top: 16px; }
.buttons-top { text-align: right; position: absolute; right: 4%; }

/*Buttons-top*/
.notif { display: inline-block; background: url(../img/notificacion.svg); background-size: cover; background-repeat: no-repeat; width: 26px; height: 26px; }
.logout { display: inline-block; background: url(../img/logout.svg); background-size: cover; background-repeat: no-repeat; width: 26px; height: 26px; }

.wrapper {
    display: flex;
    align-items: stretch;
}
/*SIDEBAR*/
#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    background: #fff;
    color: #999;
    transition: all 0.3s;
}

.sidebar-header {
    border-bottom: 1px solid #ececec;
    height: 60px;
}

.sidebar-header img {
    width: 100%;
    height: 100%;
}

.main-logo { display: block; }
.isotipo { display: none; }

#sidebar ul p { color: #999; padding: 10px; }
#sidebar ul li a { padding: 10px; font-size: 1.1em; display: block; }

#menuExpanded {
    height: calc(100vh - 342px);
    border-right: 1px solid #ececec;
}
#menuCollapsed {
    display: none;
    width: auto;
}
#menuCollapsed li{
    border: 0!important;
    background: none;
}
#menuCollapsed li a{
    padding: 0;
    border: 0;
    width: 80px;
}
#menuCollapsed img{
    width: 40px;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    background: #003ba2;
    text-align: center;
}   
    #sidebar.active .profile-greeting,
    #sidebar.active .profile-usertitle,
    #sidebar.active .profile-userbuttons{
        display: none;
    }
    #sidebar.active .profile-sidebar{
        background: transparent;
        border: none;
    }
    #sidebar.active .profile-userpic img {
        max-width: calc(100% - 20px);
        height: auto;
        box-shadow: none;
    }
    #sidebar.active .main-logo{
        display: none;
    }
    #sidebar.active .isotipo{
        display: block;
        width: 40px;
        margin: 0 auto;
    }
    #sidebar.active #menuExpanded{
        display: none;
    }
    #sidebar.active #menuCollapsed{
        display: block;
    }
    /*#sidebar.active .mCSB_container{
        overflow: unset;
    }
    #sidebar.active .mCustomScrollBox{
        overflow: unset;
    }*/

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}
.sf-vertical ul{
    background: #f5f5f5;
}
.components li {
    font-size: 14px;
    border-left: 4px;
    border-left-style: solid;
    border-left-color: transparent;
}

li.academico { border-left-color: #ffad00; }
li.horarios { border-left-color: #e60083; }
li.pagos { border-left-color: #008084; }
li.tramites { border-left-color: #ff8a0d; }
li.descargas { border-left-color: #009232; }

body.profesor li.cursos{border-left-color:#01a7fd;}
body.profesor li.notas{border-left-color:#4467e5;}
body.profesor li.horarios{border-left-color:#7be215;}

.components li.active {
    background: #003ba2;
    color: white;
}

.collapse li:hover {
    background: #e7e7e7;
}

.email-link {
    background: #00ACC1;
    color: white;
}
.reglamento-link{
    background: #ff9400;
    color: white;
}
.encuesta-link{
    background: #7be215;
    color: white;
}

/*SIDEBAR USER PROFILE*/
.profile-sidebar {
    padding: 24px 0;
    background: #fff;
    border-right: 1px solid #ececec;
}
.profile-greeting { text-align: center; margin-bottom: 10px; }
.profile-greeting strong { font-weight: 700; }
.profile-userpic { text-align: center; }
.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 2px 2px 0 #3F51B5, -2px -2px 0 #3F51B5, 2px -2px 0 #3F51B5, -2px 2px 0 #3F51B5;
}
.profile-usertitle { text-align: center; margin-top: 10px; }
.profile-usertitle-name { color: #999; font-size: 15px; font-weight: 600; margin-bottom: 7px; }
.profile-usertitle-career { text-transform: uppercase; color: #999; font-size: 11px; font-weight: 600; margin-bottom: 15px; }
.profile-userbuttons { text-align: center; margin-top: 10px; }
.profile-userbuttons .btn { text-transform: uppercase; font-size: 11px; font-weight: 600; padding: 6px 20px; background: #e60083; border-radius: 8px; color: #fff; }

/* ---------------------------------------------------
CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100vw - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    background: #f8f8f8;
}
    #content.active{
        width: calc(100vw - 80px);
    }
    #content.active .toolbar {
        left: 80px;
        width: calc(100vw - 80px);
    }

/*Custom Scroll Bar*/
.mCSB_dragger_bar {
    margin-right: 0 !important;
}
#mCSB_2_dragger_vertical .mCSB_dragger_bar{
    margin-right: 3px !important;
}

.mainWrapper{
    overflow-y: scroll;
    height: 100vh;
}

/*MAINSLIDER*/
.mainslider{
    /*padding: 0 20px;*/
}
/*MAINWRAPPER*/
.mainWrapper .col-md-12:first-child img{
    max-width: 100%;
    padding: 0;
    height: auto;
}

.main-title{
    font-size: 22px;
}
.main-title strong{
    font-weight: 600;
}

.fullwidth-title{
    background: #003ba1;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.fullwidth-title .col-md-10{
    display: flex;
}
.fullwidth-title .curso{
    display: flex;
    justify-content: flex-start;
}
.fullwidth-title .grupo{
    display: flex;
    justify-content: flex-end;
}

/*FANCY TAB*/
.tab-wrapper {
    margin: 40px 0;
}
.tab-wrapper .tab-content{
    padding: 20px 40px;
    background: #fff;
}

.tab-wrapper .nav{
    position: relative;
    z-index: 1;
    padding-left: 1em;
    overflow: hidden;
}

#erTab ul .nav-link.active {
    background: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    color: #f5f5f5;
    z-index: 2;
}

#erTab ul .nav-link.active::before {
    background-color: #003ba1;
}

#erTab ul .nav-link{
    position: relative;
    display: inline-block;
    color: inherit;
    text-decoration: none;
    padding: .9em 1.4em .4em;
    margin: 0 .3em;
}
#erTab ul .nav-link::before{
  border: 1px solid rgba(0,0,0,.4);
}
#erTab ul .nav-link::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-bottom: none;
    border-radius: .5em .5em 0 0;
    background: #f8f8f8;
    box-shadow: 2px 2px 8px #969696;
    transform: scale(1.2, 1.3) perspective(.5em) rotateX(3deg);
    transform-origin: bottom left;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
}

.main {
    display: block;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: .15em;
}

.tab-content table.table thead th{
    border: none;
    font-weight: 400;
}
.tab-content table .profile-userpic img {
    width: 33px;
    box-shadow: none;
}
.tab-content .estado {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab-content table.table td {
    vertical-align: middle;
    padding: .10rem;
    font-size: 14px;
}
.tab-content table.table .estado span.badge {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.pre-table .estado{
    width: 200px;
    display: block;
}
.pre-table .badge {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 10px;
}

.erRadio {
    vertical-align: bottom !important;
    padding: 0 !important;
    font-size: 0 !important;
}
.erRadio input[type="radio"] {
    position: absolute;
    opacity: 0;
}
.erRadio input[type="radio"] + label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    padding-left: 30px;
}
.erRadio label {
    color: #555555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    cursor: text;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-font-smoothing: antialiased;
}
.erRadio input[type="radio"]:checked + label:before {
    border-color: #555555;
}
.erRadio input[type="radio"] + label:before, .erRadio input[type="radio"] + label:after {
    position: absolute;
    left: 3px;
    bottom: 3px;
    display: block;
    content: "";
    border: 1px solid #555555;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ffffff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-clip: padding-box;
}
.erRadio input[type="radio"]:checked + label:after {
    -webkit-transform: scale(0.75, 0.75);
    -ms-transform: scale(0.75, 0.75);
    transform: scale(0.75, 0.75);
}
.erRadio input[type="radio"] + label:after {
    background: #337ab7;
    border: 2px solid #ffffff;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.asistio input[type="radio"] + label:after { background: #28a745 !important; }
.tardanza input[type="radio"] + label:after { background: #ffc107 !important; }
.falto input[type="radio"] + label:after { background: #dc3545 !important; }

#btnAsistencia {
    width: 120px;
    margin-left: 20px;
}
#avanceContainer {
    margin-top: 40px;
}

/*CAMBIOS CURSOS*/
#hoy .main-container, #todos .main-container{
    margin-top: 30px;
}

.cursos-cards .card{
    box-shadow: 2px 2px 8px #969696;
    margin-bottom: 30px;
}
.cursos-cards .card-title{
    font-weight: 600;
}
.cursos-cards .card-subtitle{
    font-size: 1.25rem;
}
.cursos-cards .card-subtitle::after{
    content: "";
    width: 70px;
    height: 5px;
    margin-top: 10px;
    background: #00c4a2;
    border-radius: 8px;
    display: block;
}
.cursos-cards .ingles::after{
    background: #00c4a2;
}
.cursos-cards .portugues::after{
    background: #f5a46f;
}
.cursos-cards .chino::after{
    background: #4467db;
}
.cursos-cards .card-codigocurso{
    font-weight: 600;
    font-size: 14px;
    color: #616161;
    margin-bottom: 10px;
}
.cursos-cards .card-aula{
    padding-bottom: 0 !important;
}
.cursos-cards .card-horario, .cursos-cards .card-sede, .cursos-cards .card-aula{
    font-size: 13px;
    display: flex;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,.125);
}
.cursos-cards .card-horario strong, .cursos-cards .card-sede strong, .cursos-cards .card-aula strong{
    width: 30%;
    font-weight: 600;
}
.cursos-cards .card-horario span, .cursos-cards .card-sede span, .cursos-cards .card-aula span{
    width: 70%;
}

.main-cursos{
    background: #f8f8f8 !important;
}

/*CUSTOM FILE INPUT*/
.btn-file {
    position: relative;
    overflow: hidden;
    background-color: #01b0ab;
    border-color: #01b0ab;
    color: white;
    font-weight: 100;
}
.btn-file:hover, .btn-file:active{
    background-color: #028884 !important;
    border-color: #026562 !important;
}
.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    /*filter: alpha(opacity=0);*/
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/*MATERIAL*/
.file-ico {
    width: 10%;
    background-size: 42px;
    background-repeat: no-repeat;
    background-position: center;
}
.filedata { width: 80%; text-align: left;}
.delete-ico { width: 10%; }

.file-ico, .filedata, .delete-ico{
    padding: 10px 0 !important;
}

.file-ico img { width: 42px; }
.delete-ico img { width: 22px; }

.pdf { background-image: url(../img/file-icos/pdf.png); }
.doc { background-image: url(../img/file-icos/doc.png); }
.ppt { background-image: url(../img/file-icos/ppt.png); }
.xls { background-image: url(../img/file-icos/xls.png); }
.jpg { background-image: url(../img/file-icos/jpg.png); }

/*TIMETABLE*/
.timetable-title-wrap{
    padding: 0 10px;
    text-shadow: 1px 1px 3px #949494;
}
.timetable-title-wrap .curso, .timetable-title-wrap .aula, .timetable-title-wrap .sede{
    font-size: 13px;
}
.aula, .sede{
    width: 100%;
    text-align: left;
    line-height: 16px;
}
.aula div, .sede div{
    display: inline-block;
    width: 50%;
}
.aula-title, .sede-title{
    font-weight: bold;
}
.curso-title{
    width: 50%;
    text-align: left;
    line-height: 16px;
}
.timetable-curso{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

/*REGISTRO DE DISPONIBILIDAD*/
#disponibilidadDesde, #disponibilidadHasta{
    margin: 0;
    background: #f8f8f8;
}
.registro-legenda{
    width: 160px;
    padding: 4px 10px;
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid gray;
}
.registro-legenda .badge{
    width: 14px;
    height: 14px;
    margin-right: 6px;
    border: 1px solid #cacaca;
    border-radius: 0;
}
.registro-legenda .no-dispo{
    background: transparent;
}
.registro-legenda .dispo{
    background: #ff9400;
}
#registroDispo .grid-item.selected{
    background: #ff9400;
}
#registroDispo .grid-item:hover {
    border: 1px dashed #999999 !important;
    cursor: pointer;
}
#registroDispo .timetable-column-header{
    align-items: center;
    display: flex;
    justify-content: center;
}
#registroDispo .timetable-column-header span{
    display: none;
}
[class~=tiva-timetable] [class~=timetable-week] [class~=timetable-column] [class~=timetable-column-grid] [class~=grid-item] {
    box-sizing: content-box;
}

/*FANCY CARRUSEL NAV*/
.fancy-carousel-nav { position: absolute; top: 0; left: 0; right: 0; width: 100%; height: 100%; display: flex; align-items: center; }
.arrowfancy {
    position: absolute;
    padding: 12px;
    box-shadow: 1px -1px 0 1px #57585c inset;
    -webkit-box-shadow: 2px -2px #57585c inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transition: 0.2s;
    z-index: 98;
}
.arrowfancy:hover {
    box-shadow: 3px -3px #29292b inset;
    -webkit-box-shadow: 3px -3px #29292b inset;
}
.arrow-left {
    transform: rotate(45deg);
    left: 14px;
}

.arrow-right {
    transform: rotate(225deg);
    right: 16px;
}

/*INICIO*/
.img-overlay-wrapper{
    display: flex;
}
.img-overlay-wrapper a{
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
}
.img-overlay-wrapper a:first-child{
    background-image: url(../img/link-cursos.jpg);
    margin-right: 10px;
}
.img-overlay-wrapper a:nth-child(2){
    background-image: url(../img/link-asistencia.jpg);
    margin-right: 10px;
}
.img-overlay-wrapper a:last-child{
    background-image: url(../img/link-notas.jpg);
}
.img-overlay-wrapper div{
    text-align: center;
}
#notifCarrusel .card{
    background-position: right !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    padding: 60px 20px;
}
#notifCarrusel .card-body{
    width: 46%;
}
.arrow-notificaciones.arrow-left{
    left: 54px !important;
}
.arrow-notificaciones.arrow-right{
    right: 56px !important;
}

.card-onomastico strong{
    color: #0cc7aa;
}
.card-reuniones strong{
    color: #00aaff;
}
.card-notas strong{
    color: #5a6fda;
}
.card-onomastico, .card-reuniones, .card-notas{
    display: flex;
    margin-bottom: 16px;
    width: 100%;
}
.card-onomastico strong, .card-reuniones strong, .card-notas strong{
    width: 50%;
    font-weight: 600;
}
.card-onomastico span, .card-reuniones span, .card-notas span{
    width: 50%;
    font-size: 12px;
}
/*REGISTRO NOTAS*/
#registroNotas .card{
    text-align: center;
}
#registroNotas .card-sede{
    margin: 0 auto;
}
#registroNotas .card-sede, #registroNotas .card-sede strong, #registroNotas .card-sede span{
    width: 50%;
}
#registroNotas .card-subtitle::after{
    margin: 10px auto 0 !important;
}

/*PERFIL*/
.perfil-title {
    color: #003aa6;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.datos-perfil{
    margin-bottom: 30px;
    font-size: 14px;
}
.datos-perfil div{
    display: flex;
    width: 100%;
    padding: 8px;
    border-top: 1px solid #ececec;
}
.datos-perfil strong{
    font-weight: 600;
}
.datos-perfil strong, .datos-perfil span{
    width: 50%;
}

.perfil-sidebar{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.perfil-sidebar img, .perfil-sidebar button{
    width: 240px;
}
.perfil-sidebar button{
    margin-top: 6px;
    color: white;
    font-size: 16px;
}
#cambiarFoto{
    background: #f8c420;
}
#cambiarPassword{
    background: #01b0ab;
}

/*NOTAS REGISTRO*/
#notasRegistro thead th.text-center{
    width: 48px;
}
#notasRegistro tbody > tr td:last-child{
    margin: 0 auto;
    text-align: center;
}
#notasRegistro tbody > tr td:last-child input{
    width: 100%;
    padding-left: 4px;
}

#notasRegistro tbody td.text-center{
    border: 1px inset #cacaca;
}

/*Carrusel novedades (books)*/
.book img{
    height: 290px;
}
.arrow-books.arrow-left{
    left: 4px !important;
}
.arrow-books.arrow-right{
    right: 4px !important;
}

/*erCarrusel*/
#booksCarrusel .owl-item {
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
/*.owl-stage .owl-item.active:nth-child(1) {
    zoom: .7 !important;
    width: auto !important;
}*/

/*MIS CURSOS*/
.dataCards .border-container{
    border-left: 1px solid #003aa5;
    padding-left: 8px;
}
.dataCards .card-body{
    padding: 2rem 1.25rem;
}
.dataCards .card-title{
    font-weight: 600;
}
.cursos-acordion .dropdown-toggle{
    width: 100%;
    display: block;
}

.er-acordion{
    margin-bottom: 10px;
}
.er-acordion a.dropdown-toggle{
    color: white;
    padding: 10px 0 10px 20px;
}

/*.evolucion-aviacion a, .evolucion-aviacion .ciclo-stats{
    background-color: #00c1a4 !important;
}
.geografia-aerocomercial a, .geografia-aerocomercial .ciclo-stats{
    background-color: #01a7fd !important;
}*/

.er-acordion:nth-child(1n) a.dropdown-toggle, .er-acordion:nth-child(1n) .ciclo-stats, .er-acordion:nth-child(1n) .card-body a.btn{
    background-color: #00c1a4;
}
.er-acordion:nth-child(2n) a.dropdown-toggle, .er-acordion:nth-child(2n) .ciclo-stats, .er-acordion:nth-child(2n) .card-body a.btn{
    background-color: #01a7fd;
}
.er-acordion:nth-child(3n) a.dropdown-toggle, .er-acordion:nth-child(3n) .ciclo-stats, .er-acordion:nth-child(3n) .card-body a.btn{
    background-color: #4467e5 !important;
}
.er-acordion:nth-child(3n+1) a.dropdown-toggle , .er-acordion:nth-child(3n+1) .ciclo-stats, .er-acordion:nth-child(3n+1) .card-body a.btn{
    background: #00c1a4 !important;
}
.er-acordion:nth-child(2n+1) a.dropdown-toggle , .er-acordion:nth-child(2n+1) .ciclo-stats, .er-acordion:nth-child(2n+1) .card-body a.btn{
    background: #01a7fd;
}

/*p:nth-child(1n) { background: #00c1a4; }
p:nth-child(2n) { background: #01a7fd; }
p:nth-child(3n) { background: red !important; }
p:nth-child(3n+1) { background: #00c1a4 !important; }
p:nth-child(2n+1) { background: #01a7fd; }*/

.er-acordion .card-container{
    padding: 20px;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: 30px 0;
    min-height: 241px;
}
.er-acordion .card-container .card{
    border: 0;
}

.cursos-data .card-data {
    font-size: 13px;
    display: flex;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, .125);
}
.cursos-data .card-data:first-child{
    border: 0;
}
.cursos-data .card-data strong{
    width: 40%;
    font-weight: 600;
}
.cursos-data .card-data span{
    width: 60%;
}
.er-acordion .card-container h6.card-title{
    font-size: 16px;
}
.er-acordion .card-container .card-text{
    font-size: 14px;
}
.er-acordion .col-md-8 a{
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 13px;
    color: white;
}
.er-acordion .ciclo-stats{
    width: 100%;
    min-height: 241px;
    color: white;
}
.er-acordion .ciclo-stats .stat-asistencia, .er-acordion .ciclo-stats .stat-inasistencia, .er-acordion .ciclo-stats .stat-tardanza{
    font-size: 12px;
    margin-bottom: 6px;
}
.er-acordion .ciclo-porcentaje{
    font-size: 15px;
    line-height: 18px;
}
.er-acordion .progress{
    background-color: rgba(8, 8, 8, 0.19);
}
.er-acordion .progress .progress-bar{
    background-color: white;
}
.er-acordion .card-container{
    box-shadow: 2px 2px 8px #969696;
}


/*PROFESOR CUSTOM*/
body.profesor .profile-userbuttons .btn {
    background: #4c4c4c;
}

/* ---------------------------------------------------
MEDIAQUERIES
----------------------------------------------------- */
@media (max-width:768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #content {
        width: 100%;
    }

    #content.active {
        width: calc(100% - 250px);
    }

    #sidebarCollapse span {
        display: none;
    }

}